<div class="content">
	<h1>
		Hi my name is Jeremy, and I'm a recovering mobile addict.
	</h1>
	<h3>
		About a year ago, I was VERY addicted to my phone. I checked email constantly, took pictures of everything, and ignored people in real life so I could 'connect' with friends 2,000 miles away. As a self-diagnosed mobile addict, I came up with a few sustainable steps to combat my addiction called the <a href="/cleanse" target="_blank">Mobile Cleanse</a>.
	</h3>
	<h3>
		A few months ago, I documented my cleansing steps and wrote an article hoping to help others with similar problems. It more or less "went viral" (whatever that means). It was published on <a href="http://www.huffingtonpost.com/jeremy-vandehey/this-is-your-brain-on-mobile_b_5374935.html" target="_blank">Huffington Post</a> and featured <a href="https://medium.com/@jgvandehey/this-is-your-brain-on-mobile-15308056cfae" target="_blank">on Medium</a>, and a few other publications, but I wanted to create something more permanent (this site) where people could gather, discuss, and share their mobile addiction stories.
	</h3>
	<h3>
		Ironically, I work in mobile app development and have possibly contributed to your addiction. I spent the last year as Head of Mobile Product @ Redbox Instant by Verizon. Before that, I worked @ Intuit as well as a few startups. I'm also starting my own company that allows coworkers to provide anonymous & honest feedback about peers and leaders. <a href="www.checkmybackdoor.com/hi" target='_blank'>Check it out!</a>
	</h3>
	<h5>
		Disclaimer: I don't mean to make light of serious drug/alcohol/etc addictions with the Mobile Cleanse movement, but it really did feel like I was addicted to my phone. I would hear phantom text messages, even when my phone was turned off. I was always on it, regardless of the setting or who I was with. It was a serious problem.
	</h5>
</div>