<div class="content">
<h1>Hello and welcome to the Mobile Cleanse</h1>
<h3>You are here because you have a problem. We want you to know it's not your fault. We all care about you a great deal and want to help you get back to living a full and healthy life.</h3>
<h3>To do that, however, you have to first admit that you have a problem. You are addicted to your phone. How do I know you're an addict? Because I used to be one too. I, like you, showed all the signs:</h3>
<ul>
<h4>
<li>Sleep deprived eyes from tweeting in bed</li>
<li>Stage IV wall clinging because the phone always needed a charge</li>
<li>Hour long poops because Angry Birds isn't going to beat itself</li>
<li>Anxiety when away from your precious</li>
</h4>
</ul>

<h1>There's good news</h1>
<h3>This addiction is curable, and you aren't alone. My research based on nothing at all shows that 75% of people with a smartphone have a moderate to severe addiction to it. All you have to do is take <a href="/cleanse">the cleanse</a>
</div>