// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

h1 {
	line-height: 1.2em;
}
h3 {
	line-height: 1.2em;
}
.nav-menu {
	font-size: 24px;
	width: 800px;
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: center;
	padding-top: 10px;
	color: black;
	font-family: montserrat;
}

.nav-menu a {
	text-decoration: none;
	color: black;
}
.nav-menu a:visited {
	color: black;
}
.nav-menu a:hover {
	text-decoration: none;
	background-color: white;
	color: black;
}
.nav-menu img {
	width: 150px;
	padding-bottom: 20px;
	margin: 0 auto;
}

.content {
	width: 60%;
	/*background-color: #EAEAEA;*/
	border: 1px dashed black;
	border-width: 3px;
	background-color: white;
	opacity: 1;
	padding: 20px;
	margin: 10px auto;
	vertical-align: center;
	padding-top: 0px;
}
.content a {
	text-decoration: none;
}
.content a:hover {
	text-decoration: none;
	background-color: #EAEAEA;
	color: black
}
.content h4 {
	line-height: 1.5em;
}
/*.content a:visited {
	background-color: #EAEAEA;
	color: black;
}*/