.tweet-pledge {
	width: 100%;
	font-size: 24px;
	border: none;
	padding: 10px;
	margin-top: 15px;
	color: white;
	font-family: montserrat;
}

#friends {
	background-color: #1AB2BF;
}
#friends:hover {
	background-color:#00ADB9;
}
#toilet {
	background-color: #F14D4E;
	color: white;
}
#toilet:hover {
	background-color:#EF4243;
}
#food {
	background-color: #9EDBED;
	color: white;
}
#food:hover {
	background-color:#84D1E3;
}
#time {
	background-color: #08425B;
	color: white;
}
#time:hover {
	background-color:#002240;
}