<div class="nav-menu">
	<!-- <img src="assets/jeans_phone.gif" style="width: 200px"> -->
	<h3>Know someone that has a mobile addiction?</h3>
				<button type="button" onclick="window.open('https://twitter.com/intent/tweet?text=@INSERTFRIENDHERE,+you+have+a+serious+phone+addiction.+Please+take+the+@mobilecleanse+via+www.mobilecleanse.com')" class="tweet-pledge" id="toilet" style="width: 50%; ">
					Get them help
				</button>
</div>