<div class="nav-menu">
	<!-- <img src="assets/jeans_phone.gif" style="width: 200px"> -->
	<h3>Know someone that has a mobile addiction?</h3>
				<button type="button" onclick=window.location='https://twitter.com/intent/tweet?text=I+vow+to+use+my+phone+less+or+@jgvandehey+will+hunt+me+down' class="tweet-pledge" id="toilet" style="width: 50%; ">
					Get them help
				</button>
</div>